/* animations.css */
@keyframes moveRight {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes moveDown {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

@keyframes moveLeft {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes moveUp {
  0% { transform: translateY(100%); }
  100% { transform: translateY(-100%); }
}

.animate-moveRight {
  animation: moveRight 2s linear infinite;
}

.animate-moveDown {
  animation: moveDown 2s linear infinite;
}

.animate-moveLeft {
  animation: moveLeft 2s linear infinite;
}

.animate-moveUp {
  animation: moveUp 2s linear infinite;
}